[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside2 = "*"
six = "*"
numpy = "*"
pandas = "*"
plotly = "*"

[dev-packages]
black = "*"
pylint = "*"

[requires]
python_full_version = "3.8.10"
